#bloque_principal {
width: 80%;
word-wrap: break-word;
float: left;
}
#bloque_botones {
width: 20%;
word-wrap: break-word;
float: left;
}

.solicitud {
width: auto;
height: auto;
padding-right: 40px;
padding-left: 19%;
float: left;
}


.tareas {
width: auto;
height: auto;
padding-right: 40px;
padding-left: 40px;
float: left;
}


.bloque_botones {
width: auto;
height: auto;
padding-right: 40px;
padding-left: 40px;
float: left;
}

label{ 
display:block; 
font-weight:bold; 
} 


#contenedor {
    display: table;
    border: 0px solid;
    width: 300px;
    text-align: center;
    
}
#contenidos {
    display: table-row;
}
#columna1, #columna2, #columna3 {
    display: table-cell;
    border: 0px solid #000;
    vertical-align: middle;
    padding: 10px;
   }





#tab-box {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0;
    margin: 0 auto;
    position: relative;
    top: 40px;
    width: 390px;
}
 
.tab {
    display: inline-block;
    margin-left: 10px;
    color: #24628b;

}
 
.tab:first-of-type {
    margin-left: 0;
}

.tab span:first-of-type a {
    cursor: pointer;
    display: inline-block;
    padding: 15px 20px;
    color: #c4d0de;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-decoration: none;
    background-color: #883C3C;
    font-size: 18px;
    font-weight: bold;
}

.tab:target span:first-of-type a {
    background: #fff;
    padding: 16px 20px 15px 20px;
    color: #1a2c45;
}

.tab:target span {
    z-index: 1;
}

.tab p {
    padding: 0; 
    margin: 0;
    text-align: justify;
}
  
.tab span:nth-of-type(2) {
    display: block;
    font-size: 14px;
    padding: 20px;
    color: #888;
    line-height: 18px;
    width: 350px;
    height: 250px;
    background: #fff;
    position: absolute;
    left: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}
 
.tab span:first-of-type a:hover {
    background: #582929;
    color: #fff;
}
 
.tab:target span:first-of-type a:hover {
    background: #fff;
    color: black;
}

#nebaris{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 400px;
    font-family: helvetica;
}

#nebaris a{
    color:rgb(178, 255, 178);
}

#nebaris a:hover{
    color:white;
}